html{
	scroll-behavior: smooth;
  }

body{
	margin: 0;
	padding: 0;
	font-size:140%;
	background-color:black;
	text-decoration-color: white;
	min-height: 100px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align:center;
}
@media only screen and (max-width: 600px){
	body{
font-size: 120%;
	}
	#welcome{
		display: none;
	}
	
}


*{
	margin: 0;
	box-sizing: border-box;
	padding: 20px;
	font-family: sans-serif;
}
	@media only screen and (min-width: 600px) {
		*{
		  font-size: 130%;
		}


.flip-card {
    perspective: 1000px;
	display: block;
  }
  .flip-card:hover .flip-card-inner,
  .flip-card:focus-within .flip-card-inner,
  .flip-card:active .flip-card-inner,
  .flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);

  }
  
  .flip-card-inner {
	
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
	padding-bottom:50px;

  }
  
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom:50px;
  }
  
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom:50px;
  }

  .flip-card-front {
    color: black;
	align-items: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom:50px;
  }
  
	  }
	  @media only screen and (min-width: 1000px) {
		*{
		  font-size: 140%;
		}
	  }


	  .intro{
		min-height: 350px;
		background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
		background-size: 400% 400%;

	}
	.introcontact{
		min-height: 400px;
		background: linear-gradient(-45deg, #ba86ff, #7f00f6, #00e1ff, #0144ff);
		background-size: 400% 400%;
		animation: gradient 10s ease infinite;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.introprojects{
		min-height: 200px;
		background: linear-gradient(-45deg,#009238, #4eff75, #2024fd, #5558ff);
		background-size: 400% 400%;
	}
	.introexp{
		min-height: 200px;
		background: linear-gradient(-45deg, #e76dfd, #4cbcfd, #861dff, #efff08);
		background-size: 400% 400%;
	}
	.introhobbies{
		min-height: 200px;
		background: linear-gradient(-45deg, #ffe055, #ff844b, #ff1971, #f372ff);
		background-size: 400% 400%;
	}
	
	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}



@media only screen and (min-width: 600px) {
	.intro{
		min-height: 450px;
		background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
		background-size: 400% 400%;
		animation: gradient 10s ease infinite;
	}
	.introcontact{
		min-height: 400px;
		background: linear-gradient(-45deg, #ba86ff, #7f00f6, #00e1ff, #0144ff);
		background-size: 400% 400%;
		animation: gradient 10s ease infinite;
	}
	.introprojects{
		min-height: 200px;
		background: linear-gradient(-45deg,#009238, #4eff75, #2024fd, #5558ff);
		background-size: 400% 400%;
		animation: gradient 10s ease infinite;
	}
	.introexp{
		min-height: 200px;
		background: linear-gradient(-45deg, #e76dfd, #4cbcfd, #861dff, #efff08);
		background-size: 400% 400%;
		animation: gradient 10s ease infinite;
	}
	.introhobbies{
		min-height: 200px;
		background: linear-gradient(-45deg, #ffe055, #ff844b, #ff1971, #f372ff);
		background-size: 400% 400%;
		animation: gradient 10s ease infinite;
	}
	
	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	.bars{
		display: none;
	}
	.wrapper{
		background: rgba(0, 0, 0, 0.5);
		color:rgb(255, 255, 255);
	}
	.wrapper ul li a{
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content:center;
	align-items: center;
	font-size: 20px; 
	color:rgb(255, 255, 255);
	justify-content: space-between;
	padding: 20px 5px; 
	border-radius: 2px;
	font-family: 'Lato', sans-serif;
	}
	.wrapper li{
		padding: 0 20px;
		display: inline-block;
		color:rgb(255, 255, 255);
	}
	.wrapper a:hover{
		background-color: rgba(0, 0, 0, 0.5); 
		color: rgb(0, 0, 0);
	}
	.wrapper a.active{
		text-decoration:underline;
		border-radius: 2px;
		text-decoration-style: solid;
		color:rgb(255, 255, 255);
	}
}

@media only screen and (max-width: 600px) {
	.active{
		display:black;
		padding: 10px;
	}	
    .wrapper{
	position: absolute;
	top: 0;
	left: 50;
	height: 100%;
	width: 100%;
	background: #000;
	clip-path: circle(25px at calc(100% - 30px) 30px);
	transition: all 0.3s ease-in-out;
  }
   #active:checked ~ .wrapper{
	clip-path: circle(75%);
  }
  .menu-btn{
	position: absolute;
	z-index: 2;
	color: #fff;
	cursor: pointer;
	background: #000;
	transition: all 0.3s ease-in-out;
	right: 5px;
	top: 5px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	font-size: 20px;
  }
  
   #active:checked ~ .menu-btn{
	color: #fff;
  }
  #active:checked ~ .menu-btn i::before{
	content: "\f00d";
  }
  .wrapper ul{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	text-align: center;
  }
  .wrapper ul li{
	margin: 10px 0;
  }
    .wrapper ul li a{
	color: none;
	text-decoration: none;
	font-size: 30px;
	font-family: "lato", sans-serif;
	position: relative;
	line-height: 50px;
	transition: all 0.3s ease;
	font-weight: 500;
	padding: 7px;
	padding-top: 5px;
	color: #fff;
	border-radius: 50px;
	background: #000;
  } 
   .wrapper ul li a:after{
	position: absolute;
	content: "";
	animation: rotate 1.5s linear infinite;
	transition: transform 0.3s ease;
	background: #fff;
	 background: linear-gradient(#14ff99, #ff6e39, #8b3afe);
	top: -5%;
	border-radius: 50px;
	transform: scaleY(0);
	background: linear-gradient(375deg, #1cc7d0, #2ede98);
	width: 104%;
	height: 110%;
	left: -2%;
	z-index: -1;
  } 
  .wrapper ul li a:hover:after{
	transform: scaleY(1);
  }
  .wrapper ul li a:hover{
	color: #fff;
  }
  input[type="checkbox"]{
	display: none;
  }
}


	span{
	opacity: 0;
	transition: all 0.4s ease;
	transform: translateY(50px);
	display: inline-block;
	}
	span.fade{
	opacity: 1;
	color: whitesmoke;
	font-family: "lato", sans-serif;
	transform: translateY(0px);
}
  .wrapper ul li a:hover:after{
	transform: scaleY(1);
  }
  .wrapper ul li a:hover{
	color: #fff;
  }
  input[type="checkbox"]{
	display: none;
  }
  
  @keyframes rotate {
	0%{
	  filter: hue-rotate(0deg);
	}
	100%{
	  filter: hue-rotate(360deg);
	}
  }




.contentbckrnd{
	background: rgba(0, 0, 0, 0.5);
    color: #fff;
	min-height: 400px;
	width: 100%;
}


.link{
	color: #00c6f8; 
}


p{
	color: white;
}


.skip
{
	background: white;
	padding: 6px;
	-webkit-transition: top 1s ease-out;
	transition: left 1s ease-out;
	z-index: 1;
	position: absolute;
	top: 20px;
	left: -500px;
}

#canvas{
	width: 100%; 
	height: 100%; 
	padding: 0;
	margin: 0;
}

.text{
	background-color: rgba(255, 255, 255, .8);
	border: 10px solid white;
	padding: 30px;
}





/* mobile view */ 

.photoimages{
	display: grid;
	margin: 0;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	align-items: center;
	object-fit: cover;
	object-position: center;
	row-gap: 10px;

}
img{
	border: 3px ridge black;
	padding: 5px;
	border-radius: 25px;
	margin: 10px;
	
}
#bright{
	width: 200px
}
#climate{
	width:400px
}
#nft{
	width: 200px;
}
#michnft{
	width: 200px;
}
#bh{
	width: 200px;
}
#dj{
	width: 150px;
}
#wedd{
	width: 210px;
}
#island{
	width: 200px;
}
#vt{
	width: 200px;
}
#vol{
	width: 130px;
}
#greensch{
	width: 300px;
}
#greenrib{
	width: 300px;
}
#pluglogo{
	width:200px;
	height: 50px;
	border-radius: 10px;
	
}
#plugbuild{
	width: 200px;
}
#plugconf{
	width: 200px;
}
#smbiz{
	width: 200px;
	height: 100px;
}
#website{
width: 200px;
}
p{
	padding: 5px;
}

.hovertext {
	position: relative;
	border-bottom: 1px dotted black;
  }
  
  .hovertext:before {
	content: attr(data-hover);
	visibility: hidden;
	opacity: 0;
	width: 140px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	padding: 5px 0;
	transition: opacity 1s ease-in-out;
  
	position: absolute;
	z-index: 1;
	left: 0;
	top: 110%;
  }
  
  .hovertext:hover:before {
	opacity: 1;
	visibility: visible;
  }

p{
	padding: 5px;
}

/*tablet view */ 

@media screen and (min-width: 600px){

	.photoimages{
    	display: grid;
    	grid-template-columns: 1fr 1fr;
    	grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
		row-gap: 10px;

 	}
	 img{
		height: 250px;
		width:270px;
		border: 3px ridge black;
		padding: 5px;
		border-radius: 25px;
		margin: 10px;
	}
	#bright{
		width: 370px;
	}
	#climate{
		width:450px
	}
	#nft{
		width: 350px;
	}
	#michnft{
		width: 350px;
	}
	#bh{
		width: 300px;
	}
	#dj{
		width: 200px;
	}
	#wedd{
		width: 360px;
	}
	#island{
		width: 340px;
	}
	#vt{
		width: 320px;
	}
	#vol{
		width: 180px;
	}
	#greensch{
		width: 350px;
	}
	#greenrib{
		width: 350px;
	}
	#pluglogo{
		width:350px;
		height: 150px;
		border-radius: 10px;
		
	}
	#plugbuild{
		width: 400px;
	}
	#plugconf{
		width: 350px;
	}
	#smbiz{
		width: 350px;
		height: 150px;
	}
	#website{
	width: 300px;
	}


}

/* Desktop view */ 

@media screen and (min-width: 1000px){

	.photoimages{
    	display: grid;
    	grid-template-columns: 1fr 1fr 1fr;
    	grid-template-rows: 2fr 2fr 2fr;
		row-gap: 10px;

	}
	img{
	   height: 250px;
	   width:270px;
	   border: 3px ridge black;
	   padding: 5px;
	   border-radius: 25px;
	   margin: 10px;
   }

} 


/* header info */

h1{
	font-size: 200%; 
	font-weight: bold;
	text-align: center;
	color: white;
	font-family:sans-serif;
}
@media only screen and (min-width: 600px){
h1{
	font-size: 200%;
}
}
#subpage{
	padding: 70px;
}

#main{
	color: white;
}
#main2{
	color: white;
}

h2{
	font-size: 130%; 
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	color: white;
	padding-top: 20px;
	padding-bottom: 10px;
}

.fancy{
	padding-top: 70px;
}

p, h1, h2 {
    padding: 10px;
}

h4{
	font-size: 1em; 
	font-weight: bold;
	color: white; 
}

.active{
	text-decoration:underline;
	text-decoration-style:double;
}
.active a{
	color: white;
}

/* Images */


.bnight{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.pnplay{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.beaconllc{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;

}

#mainimage:hover{
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
 -webkit-box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.8);
-moz-box-shadow:    0px 0px 30px 0px rgba(255, 255, 255, 0.8);
box-shadow:         0px 0px 30px 0px rgba(255, 255, 255, 0.8);
}


/* Contact */

input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box; 
	border-radius: 25px;
  }



  input[type=submit] {
	background-color: black;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;  }

   #contact{
	   padding-bottom: 40px;
   }
  

a:visited{color: darkblue;}


/* footer */

footer{
	display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
  }
  .footer-content h3{
	font-size: 2.1rem;
	font-weight: 500;
  font-family: 'Lato', sans-serif;
	text-transform: capitalize;
	line-height: 3rem;
  }
  .socials{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
  }
  .socials li{
	margin: 0 10px;
  }
  .socials a{
	text-decoration: none;
	color: #fff;
	border: 1.1px solid white;
	padding: 5px;
	border-radius: 50%;
  }
  .socials a i{
	font-size: 1.1rem;
	width: 20px;
	transition: color .4s ease;
  }
  .socials a:hover i{
	color: black;
  }
  .footer-bottom{
	background: black;
	width: 100vw;
	padding: 10px;
	text-align: center;
  }
  .footer-bottom p{
  float: center;
  font-size: 14px;
  word-spacing: 2px;
  font-family: "lato", sans-serif;
  text-transform: capitalize;
  }
  .footer-bottom p a{
   color:#44bae8;
   font-size: 16px;
   font-family: "lato", sans-serif;
   text-decoration: none;
  }
  .footer-bottom span{
   text-transform: uppercase;
   opacity: .4;
   font-weight: 200;
  }

  @media screen and (prefers-reduced-motion: reduce){
	.intro{
		animation:none;
	}
	.introcontact{
		animation:none;
	}
	.introexp{
		animation:none;
	}
	.introhobbies{
		animation:none;
	}
	.introprojects{
		animation:none;
	}

	.parallax{
		background-attachment: scroll;
	}

	.flip-card:hover, .flip-card-inner{
		transform:none;
	}
	.wrapper ul li a:after{
		animation: none;
	}
}

